

/* hero section */
.heroSection {
    background-image: url(/src/assets/img/jumbotron.jpg);
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionNav {
    background-color: rgb(30, 128, 220);
    padding: 20px 0 20px;
    
}

.sectionNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.sectionNav a {
    display: flex;
    gap: 0.6rem;
    align-items: center;
}

.sectionNav img {
    width: 35px;
}

.sectionNav span {
    font-size: 0.6rem;
    color: white;
}

