/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* CUSTOM PROPERTIES */
:root {
    --num-column: 6;
    --g-size: 25px;
}

/* layout */
.container {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
}









